/bin/
/obj/

*.user
*.suo
*.vs/
*.vscode/

*.nupkg
*.snupkg
packages/

*.log

appsettings.Development.json
appsettings.Production.json
azure-deploy.parameters.json
.env

.vscode/
.idea

**/bin/
**/obj/
